exportPattern("^[[:alpha:]]+")
import(svcm)
import(lattice)
S3method(plot, HMDdata)
S3method(plot, Mort1Dsmooth)
S3method(plot, Mort2Dsmooth)    
S3method(predict, Mort1Dsmooth)
S3method(predict, Mort2Dsmooth)
S3method(print, Mort1Dsmooth)
S3method(print, Mort2Dsmooth)
S3method(residuals, Mort1Dsmooth)
S3method(residuals, Mort2Dsmooth)
S3method(summary, Mort1Dsmooth)
S3method(summary, Mort2Dsmooth)
S3method(print, summary.Mort1Dsmooth)
S3method(print, summary.Mort2Dsmooth)
